<div data-ng-controller="editController">
    <form class="form-horizontal panel-body" name="empForm" >
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier un employé</legend>
            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="nom">Nom</label>
                <div class="controls">
                    <input class="form-control input-form-maxWith" id="nom" name="nom" data-ng-model="currentUser.nom" placeholder="Nom" class="input-xlarge" required />
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="prenom">Prénom</label>
                <div class="controls">
                    <input class="form-control input-form-maxWith" id="prenom" name="prenom" data-ng-model="currentUser.prenom" placeholder="Prénom" class="input-xlarge" required />
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="Poste">Poste</label>
                <div class="controls">
                    <input class="form-control input-form-maxWith" id="Poste" name="Poste" type="text" data-ng-model="currentUser.fonction" placeholder="Poste" class="input-xlarge" required >
                
                
                
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date">Date entrée</label>
                <div class="controls">
                    <input class="form-control input-form-maxWith" id="date" name="date" type="date" data-ng-model="currentUser.date" required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Client">Client</label>
                <div class="controls">
                    <input class="form-control input-form-maxWith" id="client" name="Client" type="text" data-ng-model="currentUser.client" placeholder="Client" />
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="control-group">
                <label class="control-label" for="save"></label>
                <div class="controls">
                    <button id="save" name="save" type="submit" class="btn btn-success" data-ng-click="submitFrom(empForm,currentUser);">Enregistrer</button>
                    <a id="cancel" name="cancel" class="btn btn-danger" href="/employes">Annuler</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>