<div class="container" data-ng-controller="loginController">
    <form class="form-signin" name="loginForm">
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" class="form-control" placeholder="login"  data-ng-model="user.login" required>
        <input type="password" class="form-control" placeholder="Mot de passe" data-ng-model="user.pwd" required>
        <button class="btn btn-lg btn-danger btn-block" type="submit" data-ng-click="connect(loginForm,user);">connexion</button>
        <span data-ng-show="statut">vérifier login et/ou mot de passe</span> 
    </form>
</div>
