<div data-ng-controller="autreController">
    <div class="page-header">
        <h1>Contactez-nous</h1>
    </div>
    <div class="content" >
        <div class="panel-body">
            <strong>Tél</strong> : (+33) 1 44 10 41 78
        </div>
        <div class="panel-body">
            <strong>Email</strong> : contact@ebiznext.com
        </div>
        <div class="panel-body">
            <strong>Adresse</strong> : 4 Place de La Défense
            92800 Puteaux, La Défense 4 FRANCE
        </div>
    </div>
</div>